.home {
    width: 31.875em;
    height: 21.25em;
    justify-content: space-between;
    margin-bottom: 9em;
}

.five-start-icon {
    width: 8.75em;
    height: 1.25em;
}

.home-book-button {
    width: 17.5em;
    height: 3.625em;
}