.main_background {
    height: 100vh;
    background-image: url('/src/assets/backgrounds/background_img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-y: scroll;
}

.main_wrapper {
    max-width: 81.25em;
    height: 100%;
}

@media (min-height: 1020px) {
    .main_background {
        overflow-y: hidden;
    }
}