.main_background {
    height: 100vh;
    background-image: url('/src/assets/backgrounds/background_img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main_wrapper {
    max-width: 81.25em;
    height: 100%;
}