.header {
    background-color: transparent;
    min-width: 81.25em;
    height: 6.8125em;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5.71875em;
    margin-bottom: 6.25rem;
}

.logo-section {
    align-items: center;
    justify-content: space-around;
}

.nav-section {
    width: 32.875em;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    font-size: var(--fs-nav);
}

.nav-link:hover {
    color: var(--clr-accent);
}

.touch-section {
    align-items: center;
    justify-content: space-between;
}

.header-button {
    width: 171px;
    height: 42px;
}